* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-container-border: 2px solid green;
  --section-container-border: 2px solid red;
  --custom-component-section-container-border: 2px solid blue;
  --content-container-border: 2px solid yellow;
  --custom-component-content-container-border: 2px solid orange;
  --content-container-child-border: 2px solid black;
  --border-color-green-one-px: 2px solid #068353;
}
